In [1]:
import yfinance as yf   
from datetime import datetime
import lxml
from lxml import html
import requests
import numpy as np
import pandas as pd
import time
import random

In [2]:
def get_page(url):
    # Set up the request headers that we're going to use, to simulate
    # a request by the Chrome browser. Simulating a request from a browser
    # is generally good practice when building a scraper
    headers = {
        'scheme': 'https',
        'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
        'accept-encoding': 'gzip, deflate, br',
        'accept-language': 'en-US,en;q=0.9,te;q=0.8',
        'cache-control': 'max-age=0',
        'pragma': 'no-cache',
        'referer': 'https://s.yimg.com/rq/darla/4-7-1/html/r-sf.html',
        'sec-fetch-dest': 'image',
        'sec-fetch-mode': 'no-cors',
        'sec-fetch-site': 'cross-site',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
    }

    return requests.get(url, headers=headers)

In [5]:
symbols = ['3MINDIA']
for symbol in symbols:
    page = get_page("https://www.screener.in/company/"+symbol+"/")
    print(type(page.content))
    tree = page.content.decode("utf-8").replace("\\n","\n")
    path = r"C:\Users\karth\OneDrive\shared\Scrapped_data\scrapped\\"+symbol+'.html'
    print(path)
    f = open(path, 'w',encoding='utf-8')
    f.write(tree)
    f.close()
    print("got ",symbol)

<class 'bytes'>
C:\Users\karth\OneDrive\shared\Scrapped_data\scrapped\\3MINDIA.html
got  3MINDIA

In [6]:
tableData = pd.read_html(r'C:\Users\karth\OneDrive\shared\Scrapped_data\scrapped\3MINDIA.html')
print(f'Total tables: {len(tableData)}')

tableData

Total tables: 10

[           Unnamed: 0 Dec 2017 Mar 2018 Jun 2018 Sep 2018 Dec 2018 Mar 2019  \
 0             Sales +      683      720      746      736      792      743
 1          Expenses +      557      564      588      634      624      640
 2    Operating Profit      126      156      158      102      167      103
 3               OPM %      18%      22%      21%      14%      21%      14%
 4        Other Income       27        9       33       17       13        2
 5            Interest        0        1        0        0        0        1
 6        Depreciation       11       11       11       11       11       11
 7   Profit before tax      143      153      180      108      169       94
 8               Tax %      34%      36%      30%      35%      35%      36%
 9          Net Profit       94       98      125       70      110       60
 10          EPS in Rs    83.51    86.70   111.30    62.40    97.82    53.55
 11                NaN    Notes    Notes    Notes    Notes    Notes    Notes

    Jun 2019 Sep 2019 Dec 2019 Mar 2020 Jun 2020 Sep 2020
 0       804      764      745      673      346      690
 1       656      634      648      597      395      577
 2       148      130       98       76      -48      113
 3       18%      17%      13%      11%     -14%      16%
 4         6       11       14       12        6        6
 5         1        1        1        1        1        0
 6        15       14       15       16       15       17
 7       139      126       96       72      -58      102
 8       35%      20%      25%      16%      26%      27%
 9        90      100       72       60      -43       75
 10    80.01    88.78    63.84    53.36   -37.74    66.61
 11    Notes    Notes    Notes    Notes    Notes    Notes  ,
            Unnamed: 0 Mar 2018 Mar 2019 Mar 2020     TTM
 0             Sales +     2710     3017     2987    2455
 1          Expenses +     2211     2481     2537    2215
 2    Operating Profit      499      536      450     239
 3               OPM %      18%      18%      15%     10%
 4        Other Income       55       60       46      39
 5            Interest        2        1        4       3
 6        Depreciation       44       44       59      62
 7   Profit before tax      508      551      433     213
 8               Tax %      34%      33%      26%     NaN
 9          Net Profit      333      366      322     165
 10          EPS in Rs   295.91   325.06   285.99  146.07
 11  Dividend Payout %      -0%      -0%      -0%     NaN,
   Compounded Sales Growth Compounded Sales Growth.1
 0               10 Years:                         %
 1                5 Years:                         %
 2                3 Years:                         %
 3                    TTM:                      -21%,
   Compounded Profit Growth Compounded Profit Growth.1
 0                10 Years:                          %
 1                 5 Years:                          %
 2                 3 Years:                          %
 3                     TTM:                       -54%,
   Stock Price CAGR Stock Price CAGR.1
 0        10 Years:                19%
 1         5 Years:                16%
 2         3 Years:                 3%
 3          1 Year:                -8%,
   Return on Equity Return on Equity.1
 0        10 Years:                  %
 1         5 Years:                  %
 2         3 Years:                  %
 3       Last Year:                20%,
             Unnamed: 0  Mar 2018  Mar 2019  Mar 2020  Sep 2020
 0      Share Capital +        11        11        11        11
 1             Reserves      1055      1422      1740      1770
 2           Borrowings        10        14        42        31
 3  Other Liabilities +      1234       672       578       529
 4    Total Liabilities      2311      2118      2371      2341
 5       Fixed Assets +       303       286       306       284
 6                 CWIP         6        12         7         5
 7          Investments         0         0         0         0
 8       Other Assets +      2001      1820      2058      2052
 9         Total Assets      2311      2118      2371      2341,
                        Unnamed: 0  Mar 2018  Mar 2019  Mar 2020
 0  Cash from Operating Activity +        36       253       245
 1  Cash from Investing Activity +        25      -553         3
 2  Cash from Financing Activity +        -2         3       -25
 3                   Net Cash Flow        59      -297       223,
            Unnamed: 0  Mar 2018 Mar 2019 Mar 2020
 0              ROCE %       NaN      44%      27%
 1         Debtor Days      77.0       71       65
 2  Inventory Turnover       NaN     4.16     4.13,
     Unnamed: 0  Mar 2018  Jun 2018  Sep 2018  Dec 2018  Mar 2019  Jun 2019  \
 0  Promoters +     75.00      75.0     75.00     75.00     75.00     75.00
 1       FIIs +      9.17       9.0      8.62      8.32      8.29      8.26
 2       DIIs +      2.05       2.0      1.93      2.23      2.22      2.15
 3     Public +     13.78      14.0     14.45     14.45     14.49     14.59

    Sep 2019  Dec 2019  Mar 2020  Jun 2020  Sep 2020  Dec 2020
 0     75.00     75.00     75.00     75.00     75.00     75.00
 1      6.79      5.19      4.85      3.32      3.59      4.28
 2      3.17      4.11      4.42      6.97      7.08      6.78
 3     15.04     15.70     15.73     14.71     14.33     13.94  ]

In [ ]:
import lxml.html as LH
import requests
import pandas as pd
def text(elt):
    return elt.text_content().replace(u'\xa0', u' ')

url = r'https://www.screener.in/company/3MINDIA/consolidated/'
r = requests.get(url)
root = LH.fromstring(r.content)

for table in root.xpath('//*[@id="peers"]'):
    print("in for")
    #header = [text(th) for th in table.xpath('//th')]        # 1
    data = [[text(td) for td in tr.xpath('td')]  
            for tr in table.xpath('//tr')]                   # 2
    data = [row for row in data if True]    # 3 
    data = pd.DataFrame(data)                # 4
    data
data